        <footer>
            <div class="footer-container">
                <span>
                    &copy; 2023 Conestoga College. All rights reserved | 
                    <a href="https://www.conestogac.on.ca/privacy-and-freedom-of-information">Privacy</a> | 
                    <a href="https://www.conestogac.on.ca/feedback">Feedback</a> | 
                    <a href="https://www.conestogac.on.ca/about/campuses">Contact</a>
                </span>
            </div>
        </footer>
    </body>
</html>