<body>
	<header>
		<div class="header-container">
			<div>
				logo here
			</div>
			<div>
				<a href="/">HOME</a>
				<a href="/wiki">WIKI</a>
				<a href="/posts">POSTS</a>
			</div>
			<div>
				<a href="/register">Register</a>
				<a href="/login">Login</a>
			</div>
		</div>
	</header>