<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Conestoga Hub</title>
</head>

<body>
	<header>
		<div class="header-container">
			<div>
				logo here
			</div>
			<div>
				<a href="">HOME</a>
				<a href="">WIKI</a>
				<a href="">POSTS</a>
			</div>
			<div>
				<a href="/register">Register</a>
				<a href="/login">Login</a>
			</div>
		</div>
	</header>