<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <title>Wiki</title>

    <style>

  .mp-box{border:1px solid #aaa;padding:0 0.5em 0.5em;margin-top:4px}



    </style>
</head>
<%- include('includes/header_guest') %>
<body>
    <div id="mp-topbanner" class="mp-box">
        <div id="mp-welcomecount">
        <div id="mp-welcome"><h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="https://en.wikipedia.org/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>,</div>
        <div id="mp-free">the <a href="https://en.wikipedia.org/wiki/Free_content" title="Free content">free</a> <a href="https://en.wikipedia.org/wiki/Encyclopedia" title="Encyclopedia">encyclopedia</a> that <a href="https://en.wikipedia.org/wiki/Help:Introduction_to_Wikipedia" title="Help:Introduction to Wikipedia">anyone can edit</a>.</div>
        <div id="articlecount"><a href="https://en.wikipedia.org/wiki/Special:Statistics" title="Special:Statistics">6,618,138</a> articles in <a href="https://en.wikipedia.org/wiki/English_language" title="English language">English</a></div>
        </div>
        </div>


</body>
</html>