<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <title>Conestoga Hub</title>
</head>

<!-- todo: check if user is logged in -->
<%- include('includes/header_guest') %>
	
<main>
    work work
</main>

<%- include('includes/footer') %>
