<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <title>Conestoga Hub</title>
</head>

<!-- todo: check if user is logged in -->
<%- include('includes/header_guest') %>
	
<body>
    <div class="container">
        <div class="top-left">
            <h2>Hot Weekly Wiki</h2>
            <hr style="border: 1px solid black;">
        </div>
        <div class="bottom-left">
            bottom-left
        </div>
        <div class="right">
            right
        </div>
    </div>

</body>

<%- include('includes/footer') %>
