<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
    <title>Site</title>
</head>

<body>
    <%- include('includes/header_guest') %>
        <div class="create-filter-bar">
            <button class="create-post">Create</button>
            <button class="filter-posts">Filter</button>
            <!--Filter tags-->
            <div class="tags">
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
                <button class="filter-tags">Filter Tag</button>
            </div>
        </div>

        <div class="post">
            <div class="user-profile-picture-and-name">
                <div class="user-profile-picture">
                    Profile Picture
                </div>
                <div class="username">
                    Salim Sema
                </div>
            </div>
            <div class="title-and-body">
                <div class="post-title">
                    Title
                </div>
                <div class="body-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quia veritatis sit aliquid
                    voluptatum
                    nulla impedit quos, magnam facere! Et soluta commodi quae quos reprehenderit laudantium, sunt minima
                    corporis! Delectus.
                </div>
            </div>
            <div class="likes-and-comments">
                <div class="likes">
                    Likes: 30
                </div>
                <div class="comments">Comments: 50</div>
            </div>
        </div>

        <div class="post">
            <div class="user-profile-picture-and-name">
                <div class="user-profile-picture">
                    Profile Picture
                </div>
                <div class="username">
                    Salim Sema
                </div>
            </div>
            <div class="title-and-body">
                <div class="post-title">
                    Title
                </div>
                <div class="body-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quia veritatis sit aliquid
                    voluptatum
                    nulla impedit quos, magnam facere! Et soluta commodi quae quos reprehenderit laudantium, sunt minima
                    corporis! Delectus.
                </div>
            </div>
            <div class="likes-and-comments">
                <div class="likes">
                    Likes: 30
                </div>
                <div class="comments">Comments: 50</div>
            </div>
        </div>

        <div class="post">
            <div class="user-profile-picture-and-name">
                <div class="user-profile-picture">
                    Profile Picture
                </div>
                <div class="username">
                    Salim Sema
                </div>
            </div>
            <div class="title-and-body">
                <div class="post-title">
                    Title
                </div>
                <div class="body-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quia veritatis sit aliquid
                    voluptatum
                    nulla impedit quos, magnam facere! Et soluta commodi quae quos reprehenderit laudantium, sunt minima
                    corporis! Delectus.
                </div>
            </div>
            <div class="likes-and-comments">
                <div class="likes">
                    Likes: 30
                </div>
                <div class="comments">Comments: 50</div>
            </div>
        </div>


        <%- include('includes/footer') %>
</body>

</html>