<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/css/login_register.css">
    <title>Conestoga Hub</title>
</head>

<%- include('includes/header_guest') %>

    <main>
        <div class="main-container">
            <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
            </div>
            <div class="login-container">
                <h3>Create Your Account</h3>
                <form action="loginprocess" method="POST">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Khaled@Rocks.com" id="username" name="username">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="password" name="password">
                    <input type="submit" value="Register">
                </form>
                <p style="color: white;">
                    <%
                        if(typeof(error) != 'undefined'){
                            %>
                                <%= error %>
                            <%
                        }
                    %>
                </p>
            </div>
        </div>
    </main>

    <%- include('includes/footer') %>