/* header, footer desgin */
header,
footer {
    font-family: 'Open Sans', sans-serif;
    background-color: #2d2d2d;
    color: white;
    height: 60px;
    position: relative;
    z-index: 999;
}
.header-container {
    margin: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-container {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 1rem;
    padding: 20px;
}
.header-container a {
    text-decoration: none;
    margin-right: 12px;
}
.header-container a:hover {
    text-decoration: underline;
}
.header-container a,
.footer-container a {
    color: white;
    background-color: transparent;
}

/* login design */
.main-container {
    background-color: #080710;
    padding: 10px;
}
.background{
    height: 1px;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    z-index: -1;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 27%;
    top: -45px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -59%;
    bottom: -318px;
}
.login-container {
    height: 520px;
    width: 400px;
    margin: 50px auto;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.login-container *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.login-container h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}
.login-container label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.login-container input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.login-container input[type="submit"]{
    margin-top: 30px;
}
.login-container input[type="submit"]:hover{
    background-color: wheat;
    color: black;
}